body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    flex-direction: row; /* Yatay görüntüleme */
    overflow-x: auto; /* Taşma durumunda yatay kaydırma */
}

.project {
    flex: 0 0 auto; /* Projelerin boyutunu ayarlama */
    width: 300px; /* Proje kutusunun genişliği */
    margin-right: 20px; /* Projeler arasında boşluk */
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(20px); /* Aşağıdan gelmesi için konum ayarı */
    animation: fadeIn 0.5s forwards; /* Animasyon */
    animation-delay: 0.5s; /* Gecikmeli görünme */
}

.icon {
    margin: 0 10px;
    transition: transform 0.3s; /* Hover efektleri için geçiş */
}

.icon img {
    width: 40px; /* Logo boyutu */
    height: 40px; /* Logo boyutu */
}

.icon:hover {
    transform: scale(1.1); /* Hover etkisi */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
