body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-container {
    display: flex;
    flex-direction: column; /* Dikey görüntüleme */
}

.project {
    margin-bottom: 20px; /* Projeler arasında boşluk */
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-icons {
    display: flex;
    justify-content: flex-end; /* Sağ tarafa yaslama */
    margin-top: 20px;
}

.icon {
    margin: 0 10px;
}

.icon img {
    width: 40px; /* Logo boyutu */
    height: 40px; /* Logo boyutu */
    transition: transform 0.3s; /* Hover efektleri için geçiş */
}

.icon:hover img {
    transform: scale(1.1); /* Hover etkisi */
}
